@import '~bootstrap/scss/bootstrap';

$board-hover-color: #fafafa;
$grid-border-color: #000;

* {
  font-weight: lighter;
  letter-spacing: 2px;
}

button {
  border-width: thick;
}

body {
  margin: 2%;
  background-color: #4BBCF4;
  color: #FFB6B9;
  font-family: 'Shadows Into Light', cursive, 'sans-serif';
}

h1 {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 2px;
  position: sticky;
}

.first {font-size: 35px;
}

div {
  padding: 12px;

  > form {
    padding: 12px;
    }
  }

.authenticated {
  flex-flow: column wrap;
  justify-content: center;
  //position: relative;
  align-items: center;
  display: flex;
}

.board {
  margin: auto;
  max-width: calc(60vh - 55px);
  max-height: calc(60vh - 55px);
}

.box {
  align-items: center;
  border-bottom: 1px solid $grid-border-color;
  border-right: 1px solid $grid-border-color;
  display: flex;
  font-size: 7vh;
  justify-content: center;
  min-height: calc(100% / 3);
  user-select: none;

  &:hover {
    background-color: $board-hover-color;
  }

  // Select every 3rd element with 3n to remove most right vertical line:
  &:nth-child(3n) {
    border-right: 0;
  }

  // Select last 3 elements to remove most botton horizontal line:
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.container {
  height: 45vh;
}

.unauthenticated {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

#message {
  display: flex;
  justify-content: center;
}

#index-game {
  display: flex;
  justify-content: flex-end;
}
